<!-- <app-user /> -->

<div>
    <h1>About Angular</h1>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum harum neque explicabo deserunt exercitationem inventore aspernatur alias labore! Sunt ipsa totam dolores atque corrupti earum ut voluptatum doloribus voluptatem necessitatibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam repellendus, molestias, neque consectetur quaerat quam facere vel maxime dolorem eligendi debitis reprehenderit. Unde blanditiis repellendus non nesciunt exercitationem eveniet cumque!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime corporis exercitationem tempora incidunt amet, porro perferendis fuga, voluptate iusto asperiores, ad eligendi? Voluptates unde ut tempore molestias dolorem facere eum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, libero quo, deserunt perferendis eum non aliquid a dolor beatae sunt incidunt ex. Illo optio accusamus ipsum assumenda doloremque, nostrum recusandae.</p>
    </article>

    @defer (on viewport) {
        <app-comments />
    } @placeholder {
        <p>.</p>
    } @loading {
        <p>Cargando comentarios...</p>
    }
</div>

<!-- <router-outlet></router-outlet> -->
